
<input type="text" [(ngModel)]="assig" name="assig" placeholder="Nom..">
<textarea [(ngModel)]="codi" name="codi" placeholder="Codi.."></textarea>
<input type="submit" value="Afegeix una assignatura" (click)="addGrau()">

<ul *ngFor="let grau of graus | async">
  <li (click)="getGrau(grau.id)">
    <strong>{{grau.data.assig}}</strong>
    <br>
    {{grau.data.codi}}
  </li>
</ul>

<!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Codi name</th>
      <th>Professor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grau of graus | async" (click)="getGrau(grau.id)">
      <td>{{ grau.data.assig }}</td>
      <td>{{ grau.data.codi }}</td>
      <td>{{ grau.data.prof }}</td>
    </tr>
  </tbody>
</table>-->


<div class="row">
  <div class="col">
    <h1>Detalls:</h1>
    <h3>{{ (currentGrau | async)?.assig }}</h3>
    <p>{{ (currentGrau | async)?.codi}}</p>
    <p>{{ currentID }}</p>
  </div>
  <div class="col">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>
